html{
    scroll-behavior: smooth;
}

.navButton{
    background-color:#003152;
    color: #F0FFFF;
    border-style: solid;
    border-color:#003152;
    border-width: 1px;
    text-align: center;
    transition: 1s;
    border-width: 1px;
    width:100%;
    border-left-color:#F0FFFF;
    border-bottom-color: #F0FFFF;
}

.navButton:hover{
    background-color:#F0FFFF;
    color:#003152;
    transition: 1s;
    border-left-color: #003152;
    border-bottom-color: #003152;
}

#navbar{
    display: grid;
    grid-template-columns:auto auto auto auto auto;
    position: fixed;
    top:0;
    width: 100%;
    height: 30px;
    background-color: #F0FFFF;
}

#navbar a{
    text-decoration: none;
}

#sideBar{
    width: 400px;
    height: 100%;
    background-color: black;
    margin-left: 0px;
    justify-content: center;
    padding-top: 50px;
}

#headshot{
    margin-bottom: 150px;
    width: 300px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-style: solid;
    border-color: #F0FFFF;
}

#name, #degree {
    color: #F0FFFF;
    text-align: center;
}

#mainSection{
    margin-right: 0px;
    text-align: center;
    width: 95%;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 15%;
}

#main{
    display: grid;
    grid-template-columns: 25% 75%;
    padding-top: 20px;
}

#socialMedia svg, img{
    width: 75px;
    height: auto;
    margin: auto;
    text-align: center;
    
}

#socialMedia{
    display: grid;
    grid-template-columns: 15% 15% 15% 15%;
    justify-content: center;
    padding-top: 5%;
}


#github, #linkedin, #email, #resume{
visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
}

#githubIcon:hover #github{
    visibility: visible;
}

#linkedinIcon:hover #linkedin{
    visibility: visible;
}

#emailIcon:hover #email{
    visibility: visible;
}

#resumeIcon:hover #resume{
    visibility: visible;
}

#catchLine{
    color: #051094;
    font-weight: 700;
    font-style: italic;
    font-size: large;
}

#skillsIcons {
    display: grid;
    column-gap: 16px;
    row-gap: 16px;
    margin: auto;
    padding: 48px;
    grid-template-columns: auto auto auto auto;
}

#skillsIcons svg {
    margin: 48px;
}

.title{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 50px;
}


.doubleRow{
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
}

.tripleRow{
    display: grid;
    grid-template-columns:auto auto auto;
    margin: auto;
}

.interestText{
    font-weight: bold;
    font-size: large;
    color:#051094
}

.interestImage{
    height: auto;
    width: 150px;
}

.interestSet{
    text-align: center;
    justify-content: center;
}

.projectBanner{
    width:100%;
    height: auto;
}

.projectTitle{
    font-weight: bold;
    text-align: center;
    color: #051094;
    font-size: 32px;
}

.projectDescription{
    text-align: center;
}

.projectLink{
    color: blue;
    padding-left: 46%;
    font-style: italic;
}

.techTag{
    background-color: #003152;
    color: #F0FFFF;
    border-radius: 10px;
    padding: 8px;
    font-size: small;
    font-weight: bold;
    display: inline-block;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 64px;
}

.projectTags{
    text-align: center;
}

.club{
    display: flex;
}

.clubPhoto{
    width: 25%;
    height: auto;
    margin-left: 0;
}

.clubTitle{
    font-weight: bold;
    font-size: 32px;
    color: #051094;
}

.clubLink{
    color: blue;
    font-style: italic;
}

.clubInfo{
    display: block;
}

#clubs{
    display: grid;
    grid-template-columns: auto auto;
}














  